body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background-color: #222;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 2rem;
}

h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 0.5rem;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 0.75rem;
    text-align: center;
}

th {
    background-color: #f4f4f4;
}

footer {
    background-color: #222;
    color: #fff;
    text-align: center;
    padding: 0,5rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}
